In [1]:
#importing sqlite3 module 

import sqlite3

#creating database connection using connect method

# syntax ==> connection_object = connect('database_name.db')

conn = sqlite3.connect("Mydb.db")
print(conn)

<sqlite3.Connection object at 0x000002160F501120>

# creating a newdatabase table in SQLITE

In [2]:
import sqlite3
conn = sqlite3.connect("Mydb.db")
cursor = conn.cursor()  # this object is an assitent to execute query at sqlite db

cursor.execute('create table student (name varchar(10), id integer , address varchar(25))')
print("Table has created successfully")
conn.close()

Table has created successfully

# inserting record into the database table

In [3]:


import sqlite3
conn=sqlite3.connect('Mydb.db')
cursor=conn.cursor()

cursor.execute("insert into student values('Raju',501,'Hyderabad')")
cursor.execute("insert into student values('Rani',502,'warangal')")
cursor.execute("insert into student values('Ramesh',503,'karimnagar')")
cursor.execute("insert into student values('kavya',504,'nizamabad')")
cursor.execute("insert into student values('venkatesh',505,'New Delhi')")

conn.commit() # to write record to the database table

print("Records Inserted Successfully")

Records Inserted Successfully

# list out the records in database

In [4]:


import sqlite3
conn=sqlite3.connect('Mydb.db')
cursor=conn.cursor()

cursor.execute("select * from student")

for i in cursor:
    print(i)


print("Thank U")

('Raju', 501, 'Hyderabad')
('Rani', 502, 'warangal')
('Ramesh', 503, 'karimnagar')
('kavya', 504, 'nizamabad')
('venkatesh', 505, 'New Delhi')
Thank U

In [6]:
# update the record in sqlite 3 student table

import sqlite3
conn=sqlite3.connect('Mydb.db')
cursor=conn.cursor()

cursor.execute("update student set address='Hanmakonda' where id=505")
print("Record updated succesfully")

Record updated succesfully

# printing the records after updating

In [8]:


import sqlite3
conn=sqlite3.connect('Mydb.db')
cursor=conn.cursor()

cursor.execute("select * from student")

for i in cursor:
    print(i)


print("Thank U")

('Raju', 501, 'Hyderabad')
('Rani', 502, 'warangal')
('Ramesh', 503, 'karimnagar')
('kavya', 504, 'nizamabad')
('venkatesh', 505, 'New Delhi')
Thank U

# delete the recode from database table - delete 505 record

In [13]:
import sqlite3
conn=sqlite3.connect('Mydb.db')
cursor=conn.cursor()

cursor.execute('delete from student where id=505')
conn.commit()
print("record deleted successfully")

record deleted successfully

# printing the records after deletion

In [14]:
import sqlite3
conn=sqlite3.connect('Mydb.db')
cursor=conn.cursor()

cursor.execute('select * from student')
for i in cursor:
    print(i)

print("Task has completed")

('Raju', 501, 'Hyderabad')
('Rani', 502, 'warangal')
('Ramesh', 503, 'karimnagar')
('kavya', 504, 'nizamabad')
Task has completed