# Dictionary Datastructures:

    dictionary is used to store the data as key and value pair.
    
    It is the mutable data-structure. we can add and delete items of dictionary
    
    Rule:
    
        key - must be the unique element
        value - can be duplicate and any type

# Creating Dictionary

    * The dictionary can be created by using multiple key-value pairs enclosed with the curly brackets {}
    * Each key is separated from its value by the colon (:)
    
    The syntax to define the dictionary is given below
    
        {key1: value1, key2:value2,...}
        
    Dict keys:
     except list,set, every datatype can accept
    Dict values:
        all types accept

In [20]:
# example 1

d = {1:"Raju",2:"Ramu",3:"Ramya",4:"Teju"}
print(d)
print("Type of d is",type(d))

{1: 'Raju', 2: 'Ramu', 3: 'Ramya', 4: 'Teju'}
Type of d is <class 'dict'>

In [22]:
# keys - except list, set.. every data type can accept

#integer,float,string,complex,list,set,tuple,dict,boolean,range

d = {10:"Raju",10+2j:"Ramsh","Name":"pinky",20.4:"Hyderabad",True:"SRU",(1,2,3):"dummy"}
print(d)

{10: 'Raju', (10+2j): 'Ramsh', 'Name': 'pinky', 20.4: 'Hyderabad', True: 'SRU', (1, 2, 3): 'dummy'}

In [25]:
#list behaviour in dict  -  we can not create a dict with list key 
#d = {10:"Raju",10+2j:"Ramsh","Name":"pinky",20.4:"Hyderabad",True:"SRU",{1,2,3}:"dummy"}  #error

In [27]:
#set behaviour in dict
#d = {10:"Raju",10+2j:"Ramsh","Name":"pinky",20.4:"Hyderabad",True:"SRU",{1,2,3}:"dummy"} # error

In [35]:
#behaviour of integer and Boolean - key

d1 = {10:"raju",20:"ramu",True:"Ramya"}
print(d1)    # 3 key and vlaue pairs



d2 = {1:"raju",20:"ramu",True:"Ramya"}
print(d2)   # 2 key and value pair - because 1 and True can be same key



d3 = {10:"raju",20:"ramu",True:"Ramya",False:"Pinky"}
print(d3)    # 4 key and vlaue pairs



d3 = {1:"raju",0:"ramu",True:"Ramya",False:"Pinky"}
print(d3)    # 2 key and vlaue pairs - where 1 and True , 0 and False are same keys

{10: 'raju', 20: 'ramu', True: 'Ramya'}
{1: 'Ramya', 20: 'ramu'}
{10: 'raju', 20: 'ramu', True: 'Ramya', False: 'Pinky'}
{1: 'Ramya', 0: 'Pinky'}

In [54]:
# same thing repeat for - float, complex

d = {None:10,False:20}
print(d)

{None: 10, False: 20}

# creating an empty Dictionary:

In [59]:
d = {}
type(d)

dict

# Accessing Dictionary

    we can access Dictionary item following ways
    
        1. using key
        
            dict_object[key]
            
         Note: if key is not present in dictionary. it retrn KeyError
            
            
       2. using get() method:
           
           dict_object.get(key)
           
          Note: if key is not presetn then it return None

In [61]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}
d[2]

'Ramu'

In [1]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}
d[100]  # error - bcz key is not exist

KeyError: 100

In [63]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}
d.get(2)

'Ramu'

In [70]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}
d.get(20)  #None -

# Adding new Key and Value pair to Dictionary

    using key only
    
        using this we can update or add new pair to dictionary
        
        dict_object[Key] = value
        
        if key is already exist - it update the value
        if key is not exist - then it create the new key and value pair

In [71]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}

d[2]="SRU"   # update the existing key value
print(d)

{1: 'Raju', 2: 'SRU', 3: 'Ramya'}

In [72]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}

d[20]="SRU"   # add new key and value pair
print(d)

{1: 'Raju', 2: 'Ramu', 3: 'Ramya', 20: 'SRU'}

# Removing elements from dictionary


    1.pop() method:
    
        remove specified key and return the corresponding value.
        If key is not found, d is returned if given, otherwise KeyError is raised\
        
        syntax:
        
        dict_object.pop(key)
        
        
    2.popitem():
        Remove and arbitary value and return a (key, value) pair as tuple.
        
        if dict is empty then it return error
        
        dict_object.popitem()
        
        
    3. del keyword:
    
        del dict_object[key]
        
        if deleted is not exist then return error
        
    4. clear():
        removes all the elements from dictionary

In [77]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}

d.pop(2)

'Ramu'

In [78]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}

d.popitem()

(3, 'Ramya')

In [88]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}

del d[2]
print(d)

{1: 'Raju', 3: 'Ramya'}

In [89]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}

d.clear()
print(d)

{}

In [112]:
d ={1:"Raju",2:"Ramu",3:"Ramya"}

print(d.keys())
print(d.values())

dict_keys([1, 2, 3])
dict_values(['Raju', 'Ramu', 'Ramya'])

# print only keys of Dictionary

    keys():
        
        this method return only keys of dictionary

In [2]:
d = {1:"Hyderabad",2:"Warangal",3:"Krimnagar",4:"Nizamabad"}

print(d.keys())

dict_keys([1, 2, 3, 4])

# Print only values of Dictionary

    values():
        
        this method return all the values of dictionary

In [9]:
# Print only Values of Dictionary

d = {1:"Hyderabad",2:"Warangal",3:"Krimnagar",4:"Nizamabad"}

print(d.values())

dict_values(['Hyderabad', 'Warangal', 'Krimnagar', 'Nizamabad'])

# Creating a dupliate Dictionary

    copy():
    
        this method return a duplicate dictionary as a new dictionary

In [10]:
d = {1:"Hyderabad",2:"Warangal",3:"Krimnagar",4:"Nizamabad"}

dd = d.copy()

print(dd)

{1: 'Hyderabad', 2: 'Warangal', 3: 'Krimnagar', 4: 'Nizamabad'}

In [14]:
# difference between assignment (=) and copy method

d = {1:"Hyderabad",2:"Warangal",3:"Krimnagar",4:"Nizamabad"}

duplicate1 = d.copy()   # it createas a new object at anoter address
duplicate2 = d          # it creates a instance and pointer the same address "d"

print(duplicate1)
print(duplicate2)   

# observer the addresss

print("Address of d          :",id(d))
print("Address of duplicate1 :",id(duplicate1))
print("Address of duplicate2 :",id(duplicate2))

{1: 'Hyderabad', 2: 'Warangal', 3: 'Krimnagar', 4: 'Nizamabad'}
{1: 'Hyderabad', 2: 'Warangal', 3: 'Krimnagar', 4: 'Nizamabad'}
Address of d          : 936063145984
Address of duplicate1 : 936063145920
Address of duplicate2 : 936063145984

In [ ]:
# Dictionary Comprehension

    syntax:
        
        d = {i : equation for i in sequence}