<center><h1 style="color:red">Python MySQL Database Connection using MySQL Connector</h1></center>

    here we will learn how to connect the MySQL database in Python using the ‘mysql-Connector-python‘ module

<h1>How to connect MySQL database in Python</h1>

    we need to know the following detail of the MySQL server to perform the connection from Python.`


    Username :
    ---------
        
            The username that you use to work with MySQL Server. The default username for the MySQL database is a "root".
    
    Password :
    ----------
        
            Password is given by the user at the time of installing the MySQL server. If you are using root then you won’t need the password.
            
    Host name:
    ----------
    
            The server name or Ip address on which MySQL is running. if you are running on localhost, then you can use "localhost" or its IP "127.0.0.0"
    
 
     Database name: 	
     --------------
    
            The name of the database to which you want to connect and perform the operations.

<h3> 1. Install MySQL connector module : </h3>

    pip install mysql-connector-python

In [18]:
# Installing relavent module

!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in e:\anaconda_1\lib\site-packages (8.0.26)
Requirement already satisfied: protobuf>=3.0.0 in e:\anaconda_1\lib\site-packages (from mysql-connector-python) (3.18.0)

<h3> 2. Import MySQL connector module :</h3>

    Import using a "import mysql.connector" statement so you can use this module’s methods to communicate with the MySQL database.

    import mysql.connector

<h3>3. Use the connect() method :</h3>

    Use the connect() method of the MySQL Connector class with the required arguments to connect MySQL. It would return a MySQLConnection object if the connection established successfully


    syntax:
        
            conn = mysql.connector.connect(host='localhost',
                                           database='MyDB',
                                           user='root',
                                           password='12345')
                                           
                                           
     if connection is success, then it return the connection object ; other wise it raise an exception

<h3>4.Use the cursor() method :</h3>

    Use the cursor() method of a MySQLConnection object to create a cursor object to perform various SQL operations.

<h3> 5. Use the execute() method</h3>

    The execute() methods run the SQL query and return the result.

# Program 1: write a program to connect to the database

In [ ]:

import mysql.connector

try:
    conn = mysql.connector.connect(host='localhost',user='root',passwd='',database='pythonol')
    print(conn)
    
except Exception as e:
    print("Failed to Connected to MySQL DB:",e)

# Program 2 : write a program to create cursor

In [42]:


import mysql.connector

try:
    conn= mysql.connector.connect(host='localhost',user='root',passwd='',database='pythonol')
    mycursor = conn.cursor()
    print(mycursor)        # Till Now No Query Executed
except Exception as e:
    print("Failed to Connect to MySQL DB:",e)

MySQLCursor: (Nothing executed yet)

# Program 3: Write a Program to Create new Database "CLG" in MySQL

In [34]:


import mysql.connector

try:
    conn= mysql.connector.connect(host='localhost',user='root',passwd='')
    mycursor = conn.cursor()
    sql = 'create database clg'
    mycursor.execute(sql)
    print("Database Created Successfully :",mycursor) # mycursor - create database mydb
except Exception as e:
    print("Failed to DB Connection",e)

Database Created Successfully : MySQLCursor: create database clg

# Program 4: write a program to create new three tables
    
    1. faculty table :- faculty_name,faculty_id,salary,dept_id,date_of_join
    
    MySQL Query :
    create table faculty(faculty_name varchar(25),faculty_id varchar(10),salary float,dept_id varchar(10),date_of_join date)
    
    2. department table :- department_name,department_id
    
    MySQL Query:
    create table department(department_name varchar(25),dept_id(10))   
     
    3. student table :- student_name,student_id,department_id,data_of_join,
    
    MySQL Query:
    create table student(student_name varchar(25),student_id varchar(10),department_id varchar(10),date_of_join date)

In [38]:
import mysql.connector

try:
    conn= mysql.connector.connect(host='localhost',user='root',passwd='',database='clg')
    mycursor = conn.cursor()
    sql = 'create table faculty(faculty_name varchar(25),faculty_id varchar(10),salary float,dept_id varchar(10),date_of_join date)'
    mycursor.execute(sql)
    print("Table Created Successfully :",mycursor) # mycursor - create database mydb
    
except Exception as e:
    print("Failed to DB Connection",e)
finally:
    conn.close()
    print("connection has colsed")

Failed to DB Connection 1050 (42S01): Table 'faculty' already exists
connection has colsed

In [40]:
import mysql.connector

try:
    conn= mysql.connector.connect(host='localhost',user='root',passwd='',database='clg')
    mycursor = conn.cursor()
    sql = 'create table department(department_name varchar(25),dept_id varchar(10))'
    mycursor.execute(sql)
    print("Table Created Successfully :",mycursor) # mycursor - create database mydb
except Exception as e:
    print("Failed to DB Connection",e)

Table Created Successfully : MySQLCursor: create table department(department_name ..

In [41]:
import mysql.connector

try:
    conn= mysql.connector.connect(host='localhost',user='root',passwd='',database='clg')
    mycursor = conn.cursor()
    sql = 'create table student(student_name varchar(25),student_id varchar(10),department_id varchar(10),date_of_join date)'
    mycursor.execute(sql)
    print("Table Created Successfully :",mycursor) # mycursor - create database mydb
except Exception as e:
    print("Failed to DB Connection",e)
finally:
    conn.close()
    print("connection has closed")

Table Created Successfully : MySQLCursor: create table student(student_name varcha..
connection has closed

# Program 5: Write a Program to Write a new record in to database table

    Note:
    
        when a new Record inserted into the database table we must commit the operation ; otherwise we can not see inserted record in the table
        
        conn.commit()

In [45]:
import mysql.connector

try:
    conn= mysql.connector.connect(host='localhost',user='root',passwd='',database='clg')
    mycursor = conn.cursor()
    sql = 'insert into department values("CSE","12345")'
    mycursor.execute(sql)
    conn.commit()   # to store the recored in table we must commit the connection
    print("Record Inserted Successfully :",mycursor) # mycursor - create database mydb
except Exception as e:
    print("Failed to DB Connection",e)
finally:
    conn.close()
    print("connection has closed")

Record Inserted Successfully : MySQLCursor: insert into department values("CSE","123..
connection has closed

# Program 6: Write a program to write records to the database table by collecting the values from the end user

    - writing record to the the faculty table

        Requirement to collect: faculty_name,faculty_id,salary,dept_id,date_of_join

In [50]:
import mysql.connector

try:
    conn= mysql.connector.connect(host='localhost',user='root',passwd='',database='clg')
    mycursor = conn.cursor()
    
    faculty_name =input("Enter Faculty Name:")
    faculty_id =input("Enter Faculty ID:")
    salary = float(input("Enter Salary of Employee:"))
    dept_id=input("Enter Department ID:")
    doj = input("Enter Date of Joining(YYYY-MM-DD):")
    
    
    sql = ("INSERT INTO faculty(faculty_name,faculty_id,salary,dept_id,date_of_join) VALUES ('%s','%s',%f,'%s','%s')"%(faculty_name,faculty_id,salary,dept_id,doj))
    mycursor.execute(sql)
    conn.commit()   # to store the recored in table we must commit the connection
    print("Record Inserted Successfully :",mycursor) # mycursor - create database mydb
except Exception as e:
    print("Failed to DB Connection",e)
finally:
    conn.close()
    print("connection has closed")

Enter Faculty Name:Ammu
Enter Faculty ID:3939
Enter Salary of Employee:50000
Enter Department ID:12345
Enter Date of Joining(YYYY-MM-DD):2020-05-10
Record Inserted Successfully : MySQLCursor: INSERT INTO faculty(faculty_name,faculty..
connection has closed

# Program 7: write a program to list out the databases in MySQL

    >> show databases

In [13]:
import mysql.connector

try:
    conn =mysql.connector.connect(host='localhost',user='root',passwd='')
    mycursor = conn.cursor()
    sql = 'show databases'
    mycursor.execute(sql)
    print("Databases are:")
    for i in mycursor:
        print(i)
        
except Exception as e:
    print("Failed to Get Records :",e)
finally:
    if conn.is_connected():
        conn.close()
        print("MySql Connection has Closed")

Databases are:
('centralized',)
('clg',)
('coding',)
('coding club',)
('faculty_profile',)
('flask',)
('information_schema',)
('lms',)
('mybd',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('pmydb',)
('pythonol',)
MySql Connection has Closed

# Program 8: Write a Program to Display Records in a Table
    
        Display faculty Information:

In [14]:
import mysql.connector

try:
    conn = mysql.connector.connect(host='localhost',user='root',passwd='',database='clg')
    mycursor = conn.cursor()
    
    sql = 'select * from faculty'
    mycursor.execute(sql)
    print("Faculty Information")
    for i in mycursor:
        print(i)
except Exception as e:
    print("Failed to Fectch Records:",e)
finally:
    if conn.is_connected():
        conn.close()
        print("MySQL connection has closed")

Faculty Information
('Chandhar', '1111', 50000.0, '12345', None)
('Rajesh', '1111', 9456.0, '5555', datetime.date(2020, 5, 20))
('Ammu', '3939', 50000.0, '12345', datetime.date(2020, 5, 10))
MySQL connection has closed

# Program 9: wirte a program to update the table record

    update the employee salary of based on id

In [20]:
import mysql.connector

try:
    conn = mysql.connector.connect(host='localhost',user='root',passwd='',database='clg')
    mycursor = conn.cursor()
    fid='1111'
    ud_salary=60000
    sql = 'update faculty set salary='+str(ud_salary)+'  where faculty_id="'+str(fid)+'"'
    print(sql)
    mycursor.execute(sql)
    conn.commit()
    print("Udated Record Successfully")
except Exception as e:
    print("Failed to Update Records:",e)
finally:
    if conn.is_connected():
        conn.close()
        print("MySQL connection has closed")

update faculty set salary=60000  where faculty_id="1111"
Udated Record Successfully
MySQL connection has closed

# Program 10: write a program to delete a recrod from the table

    delete a facuclty from facutly table

In [21]:
import mysql.connector

try:
    conn = mysql.connector.connect(host='localhost',user='root',passwd='',database='clg')
    mycursor = conn.cursor()
    faculty_id = '1111'
    sql = 'delete from faculty where faculty_id="'+faculty_id+'"'
    print(sql)
    mycursor.execute(sql)
    conn.commit()
    print("Faculty Record Deleted Successfully")
except Exception as e:
    print("Failed to Delete Records:",e)
finally:
    if conn.is_connected():
        conn.close()
        print("MySQL connection has closed")

delete from faculty where faculty_id="1111"
Faculty Record Deleted Successfully
MySQL connection has closed

In [ ]:
import os
os.getcwd()