# Set Datastructures 

    A set is an unordered collection of hetrogenious type of items. 
    
    Every set element is unique (no duplicates) 
    
    *** set elements cannot be changed - immutable 

    *** However, a set is mutable. We can add or remove items from it.

# Creating Python Sets

    A set is created by placing all the items (elements) inside curly braces {}, separated by comma(,)

In [131]:
s1 = {10,20,30,40,50,30,40,50}   # homogenious type of elements - ignore duplicate elements

s2 = {10,20.5,"abc",10+2j}  # hetrogenious collection of elements

print(s1)
print(s2)  

print("Type of s1 is:",type(s1))
print("Type of s2 is:",type(s2))

{40, 10, 50, 20, 30}
{(10+2j), 10, 20.5, 'abc'}
Type of s1 is: <class 'set'>
Type of s2 is: <class 'set'>

# creating empty set

In [132]:


# initialize a with {}
a = {}   # python can not create an empty set using curely braces

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

In [133]:
# creating an empty set

s={}
print(type(s))

#  alternative to create an emplty set -- i.e., set() : method overloadin - same used for multiple purpose

s1 =set()
print(type(s1))

<class 'dict'>
<class 'set'>

# Converting other type of sequences to set type:

In [134]:
# list 
l = [10,20,30,40,30,40,50]

#tuple
t = (10,20,30,40,30,40,50)

#range
r = range(1,11,2)


# converting list, tuple and range to set type using set functions
sl = set(l)
st = set(t)
sr = set(r)

# checking types 
print("Type of sl is:",type(sl))
print("Type of st is:",type(st))
print("Type of sr is:",type(sr))


# print- converted sets
print(sl)
print(st)
print(sr)

Type of sl is: <class 'set'>
Type of st is: <class 'set'>
Type of sr is: <class 'set'>
{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}
{1, 3, 5, 7, 9}

# Nested Relation with other sequences

    1. python does not support nested set 
    2. we can not write list in set
    3. we can write tuple in side the set

In [ ]:
# Nested set

s1 = {1,2,3,4,5,{2,3,4,5}}  # error

In [ ]:
# list  inside set

s1 = {1,2,3,4,[4,5,6,7]}  # error

In [120]:
# tuple inside set

s1 = {1,2,3,4,5,(3,4,5,6,7)}
print(s1)

{(3, 4, 5, 6, 7), 1, 2, 3, 4, 5}

# Adding Elements to Set

    add() method:
    -------------
        Add an element to a set.
        
            Syntax:
                set_object.add(element)
        
            Note:
                This has no effect if the element is already present.
   
    update() method:
    ----------------
        Add multiple elements to a set (multiple elements should be list/tuple or any sequnce)
        
            syntax:
                
                set_object.update(sequence)

In [124]:
s = {1,2,3,4,5,6}

print(s) # before adding elements
s.add(-100)
print(s) # after adding elements

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, -100}

In [125]:
s = {1,2,3,4,5,6}

print(s) # before adding multiple eleme ts
s.update([-100,-200,-300,-400])  # using iteratieve
print(s)  # after adding multiple elements

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, -400, -300, -200, -100}

# Delete elemetns from Set
    
       ==> remove(): method
        
            Remove an element from a set; it must be a member.

            If the element is not a member, raise a KeyError.
            
            syntax:
                        setobject.remove(element)
            
                        
      ==>  discard() : method
        
            Remove an element from a set if it is a member.

            If the element is not a member, do nothing.            
            
            Syntax:
            
                    setobject.discard(element)
            
      ==> pop() :methood
       
           pop() method Remove and element randomly and return deleted element.
            
           if the set is empty it Raises KeyError.
           
           sytax:
           
               setobject.pop()
           
           
       
      ==> clear():
           Remove all elements from this set.

In [135]:
s.clear()
s ={1,2,3,4,5,6,7}
print(s)
s.remove(4)   # remove eleme tis 4
print(s)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 6, 7}

In [136]:
s ={1,2,3,4,5,6}

print(s) # bofore removing using discard()
s.discard(3)
print(s) # after removing 3 - where 3 is present in set
s.discard(100)
print(s)# after removing 100 = but 100 is not preset in set s

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}

In [137]:
s = {11,-21,199,400,"abc"}
s.pop()

199

In [138]:
s =set() # empty
s.pop()   # error

KeyError: 'pop from an empty set'

In [139]:
s ={1,2,3,4,5,6}
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5, 6}
set()

In [140]:
s1.symmetric_difference()

TypeError: symmetric_difference() takes exactly one argument (0 given)

# python set operations:

    1.union:
        Return the union of sets as a new set.
        
        we can perform union operations two ways:
        1. using or( | ) operator
        2. using union() method
        
        * using or ( | ) :
            
            s1 | s2
        
        * using union() method:
            
            s1.union(s2)
    
        
    
    2.intersection:
    
        it Return the common elements in two set as a new set
        
        we can perform intersection operation using two ways:
        1. using and (& ) operator
        2. using intersection() method:
        
    
        * Using operator:
        
            s1 & s2
            
        * using intersection() methods :
            
            s1.intersection(s2)  - it return common elements as a new set
            
        * using intersection_update() method:
        
            s1.intersection_update(s2) :  Update a set with the intersection of itself and another (update s1)
            
            
    3.differrence:
        
        Return the difference of two or more sets as a new set.(i.e. all elements that are in first set but not the others.)
    
        we can perform difference operation using two ways:
        1. using subtract ( - ) operator
        2. using difference method:
        
        ** using operator:
        
            s1 - s2
            
        ** using method:
        
            s1.difference(s2)
            
            s1.difference_update(s2)    s1 = s1-s2
        
        
    4.symmetic difference:
        Return the symmetric difference of two sets as a new set. (i.e. all elements that are in exactly one of the sets.) 
        
        ex:
        
        symmetric difference of s1 and s2 =  (s1-s2) U (s2-s1)
        
        ** operator: 
            
            s1 ^ s1
            
        ** using method:
            
            s1.symmetric_difference(s2)
            
            s1.symmetric_difference_update(s2)   - it update the s1 set
        
        
    5. issubset:
        it return True. if the given set is subset
        otherwise False
        
        s1.issubset(s2) - is s1 subset of s2
        
    6. issuperset:
    
       it return Ture. if the given set is superset
       ohterwise false
       
       s1.issuperset(s2) = is s1 is super set of s2
    
    7. isdisjoinset:
    
        it return True: if both sets are disjoint
        
        s1.isdisjoint(s2)

In [142]:
s1 = {1,2,3,4,5}
s2 ={3,4,5,6,7}

# union - result set {1,2,3,4,5,6,7}
# using operator (|) , using method 

print(s1|s2)   # union using - or operator

print(s1.union(s2))   # using method

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [145]:
s1 = {1,2,3,4,5}
s2 ={3,4,5,6,7}

# using operator (&) , using meethod 

print(s1&s2) # using operator
print(s1.intersection(s2)) #using function

{3, 4, 5}
{3, 4, 5}

In [146]:
s1 = {1,2,3,4,5}
s2 ={3,4,5,6,7}

s1.intersection_update(s2)   #s1 is update 

print(s1)

{3, 4, 5}

In [147]:
s1 = {1,2,3,4,5}
s2 ={3,4,5,6,7}


print(s1-s2) # using opeator
print(s1.difference(s2)) # using functions


s1.difference_update(s2)    #s1 =s1-s2
print(s1)  # override the s1 set ...

{1, 2}
{1, 2}
{1, 2}

In [148]:
# symmetric differencce:

s1 = {1,2,3,4,5}
s2 ={3,4,5,6,7}
 
    
    # s d = (s1-s2) U (s2-s1)
    
    # operator (^), method
    # symmetric_difference()
    #symmetric_difference_update()
    
print(s1^s2) #using operator
print(s1.symmetric_difference(s2))  # using functions


s2.symmetric_difference_update(s1) #s2 =s2-s1
print(s2)

{1, 2, 6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}

In [149]:
# issubset() :

s1={1,2,3,4,5,6,7}
s2 = {3,4,5}

print(s1.issubset(s2))  # is s1  subset of s2  - false
print(s2.issubset(s1))  # is s2 subset of s1 - True

False
True

In [150]:
# issubset() :

s1={1,2,3,4,5,6,7}
s2 = {3,4,5}

print(s1.issuperset(s2))  # is s1  superset of s2  - True
print(s2.issuperset(s1))  # is s2 superset of s1 - False

True
False

In [151]:
#disjoint:
s1 ={1,2,3,4,5,6}
s2={6,7,8,9,0}

s1.isdisjoint(s2)

False

# common functions on iterative objects


    max()  - return the max elements
    min()  - return min from the set
    sorted() - arraning set elements in sorted order / sorted(reverse=True)
    len() - inter total no of elemnts in set
    sum() - sum of all element - list, tuple, set, bytes, bytearry,frozenset 
    all() - boolean value : True , False - all element in itetrat is True - reurn Ture
    any() - if any one is true , result is true

In [152]:


s ={1,2,3,4,5,6,7}
all(s) # True- all the elements are true  - result is true

True

In [153]:
s ={1,0.0,0+0j,False,""}  
any(s)   # if any lememnt in list/set/tupe is true result is true - or operator

True