# Tuple Datastructures

     tuple is a collection of hetrogenious type of elements
     
     tuple is immutable collection. means, we can not modify the tuple value
     
     tuple elements are enclosed by paranthesis and elements are superated by comma(,)
         Note: paranthesis are not mandatory

In [25]:
tu_1 = (10,20,30,40,50) # all are homogenious type of element 
tu_2 =(10,10.5,"hello",True,10+5j)  # all are hetrogenious type, 

print("Type of tu_1 is:",tu_1)
print("Type of tu_2 is:",tu_2)

Type of tu_1 is: (10, 20, 30, 40, 50)
Type of tu_2 is: (10, 10.5, 'hello', True, (10+5j))

In [26]:
tu=10,20,30,40,50   # paranthesis is not mandatory

type(tu)

tuple

# Accessing Tuple Elements

    we can access tuple elements two ways
    
    1. indexing:
    ============
        python support +ve and -ve indexing
        
            +ve index:
            ----------
                from left to right
                index begins from 0 to n-1 , where n is the tuple size                
                
           -ve index:
           ----------
               from right to left
               index begins from -1 to -n. where n is the tuple size
               
    2. slicing:
    ===========
        
        Slicing with two values : 
                
                tuple_object[start:end]
        
        Slicing with three values: 
        
                tuple_object[start:end:step]


            Default values for slicing:
            ===========================
            
                   start : 0
                   end : list size
                   step : +1

In [9]:
# Example : Accessing elements using = index

tu = (10,32,44,25,36,77)

print(tu[0])
print(tu[1])
print(tu[2])
print(tu[3])
print(tu[4])
print(tu[5])

10
32
44
25
36
77

In [12]:
# -ve indexing   : left to right

tu = (10,32,44,25,36,77)
print(tu[-1])
print(tu[-2])
print(tu[-3])
print(tu[-4])
print(tu[-5])
print(tu[-6])

77
36
25
44
32
10

# Creating an empty Tuple

In [3]:
tu = ()
print(tu)
print("type of tu is:",type(tu))

()
type of tu is: <class 'tuple'>

# Tuple with one element

In [4]:

tu1 = (10,) # if we dont write comman(,) after 10 . it will be consider as integer
tu2 = 20,

print("type of tu1 is:",type(tu1))
print("type of tu2 is:",type(tu2))

type of tu1 is: <class 'tuple'>
type of tu2 is: <class 'tuple'>

# Tuple is immutable :
   
    once a tuple create, we can not change element value, we can not add new element, and we can not delete an element.

In [6]:
tu = (10,20,30,40,50,60)

print("2nd index element is ", tu[2])

2nd index element is  30

In [9]:
tu[2] = -100 # it return an error : 'tuple' object does not support item assignment

# packing and unpacking of tuple

In [12]:
# tuple packing

x = 10
y = 20
z = 30

tu1 = (x,y,z)  # tuple packing using paranthesis ()
tu2 = x,y,z    # tuple packing with out using paranthesis()

print("type of tu1 is:",type(tu1))
print("type of tu2 is:",type(tu2))

type of tu1 is: <class 'tuple'>
type of tu2 is: <class 'tuple'>

In [20]:
# tuple unpacking : 

x,y,z = tu1

print(x)
print(y)
print(z)

10
20
30

# converting other type of sequences / iterative object to tuple type

    tuple() : this function convert other sequce type to tuple type (list,range,set,bytearray,bytes,....)

In [46]:
#example: converting range to tuple type

x_r = range(10,20)  # x_r is a range object, which return 10 to 19 values

x_t = tuple(x_r)   #converting range object ot tuple type and stores in x_t
print(x_t," ==> type is  ==> ",type(x_t))

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)  ==> type is  ==>  <class 'tuple'>

In [47]:
# example : converting list ot tuple type

x_l = [10,20,30,40,50,60]  # x_l is list object

x_t = tuple(x_l)  # converting list sequence to tuple type

print(x_t," ==> type is  ==> ",type(x_t))

(10, 20, 30, 40, 50, 60)  ==> type is  ==>  <class 'tuple'>

# Tuple Functions:

    1. len() : it return an integer number, which return how many elements are present in tuple
    
    syntax:
    
        len(tuple_object)

In [53]:
tu = (10,20,30,40,50,60)

len(tu)

6

    2. count(): it return how many time given element is repeated in tuple
    
    syntax:
        
        tuple_object.count(element)

In [55]:
tu = (1,2,3,2,4,5,3,2,2,3,4,5,7,2)

tu.count(2)

5

    3. index(): it return integer number, which conveys in whic index the given element is present
    
        syntax:
        
            tuple_object.index(element,start,end)
            
        Note 1: here, start and end are optional.
            
                start- default value is 0
                end - default value is length of tuple
                
             
       Note 2: if the given element not present in list, it return an error as:  x not in tuple
            
       Note 3: if the given element repeat multiple times, it return first occurance index

In [57]:
tu.index(2)  # 2 will check for entire tuple

1

In [58]:
tu.index(2,4) # 2 element check inbetween 4 to entire list

7

In [ ]:
tu.index(2,4,6) # 2 elemet checks in between 4 and 6 index

    4: min()/ max() : it return min/ max element from given tuple
    
    syntax:
        min(tuple_object)
        max(tuple_object)

In [62]:
t = (10,-2,-10,7,100)

print("MIN element from tuple t is:",min(t))
print("MAX element from tuple t is:",max(t))

MIN element from tuple t is: -10
MAX element from tuple t is: 100

    5: sorted(): 
            sorted function sort the tuple and return list 
            
            
            syntax:
            sorted(tuple)
            sorted(tuple,reverse=True)
            
            *** reverse is key argument, default value of reverse is False
            
            if reverse is True, then it return descending order list
        
        Note: it return ascending order list of tuple elements

In [69]:
s = (10,-100,-4,20,300)

sorted(s) # it return list ; ascending order

[-100, -4, 10, 20, 300]

In [70]:
# PRACTICE PROGRAMS


1. FIND THE SUM OF TUPLE ELEENTS USING FOR AND WHILE LOOP

2. FIND THE BIGGEST ELEMENT IN TUPEL/ LIST WITHOUT USING PREDEFINED FUNCTIONS

3. WIRTE A PROGRAM TO FIND THE SQUARES, CUBES FOR EVEN AND ODD NUMBER IN GIVEN TUPLE / LIST USING FOR/ WHILE LOOP

4.

226